@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  background-color: rgb(8, 8, 8);
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

header {
  background-image: linear-gradient(white, grey);
  color: #000;
  width: 90%;
  height: 10vh;
  font-size: 40px;
  font-weight: 600;
  padding: 2px;
  text-align: center;
  border-radius: 5vh;
  box-shadow: inset 0 0 5px 0 black;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 30px;
}

.input-wrapper {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 20vh;
  box-shadow: 0 3px 3px 3px silver;
  border-radius: 20px 0px 20px 20px;
}

#food-wrapper {
  font-size: 30px;
  min-width: 45%;
  height: 60px;
  outline: 0;
  border: 0;
  box-shadow: inset 0 0 5px 0 black;
  border-radius: 10px;
  padding-left: 10px;
}

#calorie-wrapper {
  font-size: 30px;
  min-width: 45%;
  height: 60px;
  outline: 0;
  border: 0;
  box-shadow: inset 0 0 5px 0 black;
  border-radius: 10px;
  padding-left: 10px;
}

#btn-submit {
  background-color: white;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 25px;
  color: black;
  outline: 0;
  border: 0;
  box-shadow: inset 0 0 5px 0 black;
  padding-top: 2px;
  cursor: pointer;
  transition: 0.2s;
}

#btn-submit:active {
  transform: scale(0.95);
  transition: 0.1s;
}

.food-list-container {
  margin-top: 25px;
  width: 100%;
  height: 50vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.food-list-container::-webkit-scrollbar {
  display: none;
}

.food-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 100%;
  height: 10vh;
  padding: 15px;
  font-size: 20px;
  box-shadow: 0 0 2px 0 silver;
  border-radius: 5px;
  align-items: center;
}

.food-wrapper > input {
  font-size: 20px;
  width: 35%;
  height: 50px;
  outline: 0;
  border: 0;
  padding: 0 0 1px 5px;
  background-color: inherit;
  color: white;
  border-bottom: 1px solid white;
}

.food-wrapper > input:disabled {
  border: 0;
}

.btn-modify {
  min-width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#btn-edit-food {
  background-color: blue;
  width: 40%;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  outline: 0;
  border: 0;
  box-shadow: inset 0 0 5px 0 black;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}

#btn-edit-food:active {
  transform: scale(0.95);
  transition: 0.1s;
}

#btn-delete-food {
  background-color: red;
  width: 40%;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  outline: 0;
  border: 0;
  box-shadow: inset 0 0 5px 0 black;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}

#btn-delete-food:active {
  transform: scale(0.95);
  transition: 0.1s;
}

.no-items {
  margin: 50px;
  font-size: 30px;
  color: white;
  text-align: center;
}